        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako dobiti 1 anotu besplatno?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Airdrop</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Airdrop je naziv u kripto svijetu za dijeljenje male količine tokena neke kriptovalute
                            članovima zajednice ili potpuno besplatno ili kao nagradu za obavljanje manjih zadataka. Evo kako
                            možeš sudjelovati u airdropu Anote:
                            </p><br>

                            <h5>1. Otvori Kriptokuna novčanik</h5>

                            <p>Ako već nemaš, <a href="https://github.com/anonutopia/anonutopia/wiki/Tutorial---Novčanik-(HR)">kreiraj</a> 
                            novi Kriptokuna novčanik <a href="https://novcanik.kriptokuna.com" target="_blank">ovdje</a>.
                            </p><br>

                            <h5>2. Uključi se u našu Telegram grupu - Anonutopia Hrvatska</h5>

                            <p>Ako nemaš Telegram messenger, možeš ga pronaći <a href="https://telegram.org/apps" target="_blank">ovdje</a>.</p>
                            <p>Registriraj se na Telegram aplikaciji i zatim priključi našoj grupi: <a href="https://t.me/AnonutopiaHrvatska">t.me/AnonutopiaHrvatska</a>.
                            </p><br>

                            <h5>3. Zatraži AnonsRobota 1 besplatnu anotu</h5>

                            <p>Kopiraj adresu svog novčanika, pa je pošalji našem prijateljski nastrojenom robotu sljedećom porukom (naravno,
                            umjesto adrese iz primjera unesi svoju):

                            <div class="well" style="margin-top: 20px;">/gimme@AnonsRobot 3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</div><br>

                            <h5>4. Podijeli svoje referal link</h5>

                            <p>Ne zaboravi dijeliti svoj referal link na društvenim mrežama. Svaki puta kada se netko novi registrira putem tvog 
                            linka za svoju besplatnu anotu, ti dobiješ 20% (0.2 anote). Ako kasnije ta osoba kupi anote, također dobivaš 
                            20% iznosa kupnje. Svoj referral link možeš pronaći na stranici 
                            "<a href="https://novcanik.kriptokuna.com/profit/">Profit</a>" u izborniku svog Kriptokuna novčanika.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                     <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/airdrop/">Zarađivanje</a>
                            <a href="https://novcanik.kriptokuna.com">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/projekti/">&dash;&dash;&nbsp;&nbsp;Naši projekti</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">&dash;&dash;&nbsp;&nbsp;Transparentnost</a>
                            <a href="/kontakt/">Kontakt</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                     <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
