        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako podići 1 Anotu besplatno</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Airdrop</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Airdrop je naziv u kripto svijetu za dijeljenje male količine tokena neke kriptovalute
                            članovima zajednice ili potpuno besplatno ili kao nagradu za obavljanje manjih zadataka. Evo kako
                            možeš sudjelovati u airdropu Anote:
                            </p><br>

                            <h5>1. Otvori Kriptokuna novčanik</h5>

                            <p>Ako već nemaš, <a href="https://github.com/anonutopia/anonutopia/wiki/Tutorial---Novčanik-(HR)">kreirajte</a> 
                            novi Kriptokuna novčanik <a href="https://novcanik.kriptokuna.com" target="_blank">ovdje</a>.
                            </p><br>

                            <h5>2. Pridruži se Anonutopia Telegram grupi</h5>

                            <p>Ako nemate Telegram messenger, možete ga preuzeti <a href="https://telegram.org/apps" target="_blank">ovdje</a>.</p>
                            <p>Otvorite račun u aplikaciji te se pridružite Anonutopia grupi: <a href="https://t.me/Anonutopia">t.me/Anonutopia</a>.
                            </p><br>

                            <h5>3. Pitaj AnonsRobota za besplatnu Anotu</h5>

                            <p>Kopiraj adresu svog novčanika, pa je uputi našem veselom robotu sljedećom porukom (naravno, umjesto adrese 
                            iz primjera unesi svoju):
                            
                            <div class="well" style="margin-top: 20px;">/gimme@AnonsRobot 3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</div><br>

                            <h5>4. Podijeli svoj referral link</h5>

                            <p>Ne zaboravi dijeliti tvoj referral link na društvenim mrežama! Kada god se netko novi registrira za svoju
                            besplatnu Anotu s tvojim linkom, ti dobiješ 20%, tj. 0.2 Anote. Ako kasnije ta osoba kupi Anote, također dobivaš 
                            20% iznosa kupnje. Svoj referral link možeš pronaći na stranici 
                            "<a href="https://novcanik.kriptokuna.com/profit/">Profit</a>" u izborniku Kriptokuna novčanika.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    
                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
