        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako dobiti 1 anotu besplatno?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Airdrop</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anote_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <!-- <p>Airdrop is a free distribution of small amounts of a certain virtual currency 
                            tokens to its community members either for free or for performing small tasks. This is 
                            how you can take part in ANOTE airdrop:
                            </p><br>

                            <h5>1. Register Anonutopia Wallet</h5>

                            <p>Register a new Anonutopia wallet <a href="https://wallet.anonutopia.com" target="_blank">here</a>.
                            </p><br>

                            <h5>2. Join Our Telegram Group - Anonutopia</h5>

                            <p>If you don't already have Telegram you can get it <a href="https://telegram.org/apps" target="_blank">here</a>.</p>
                            <p>Register with the app and then join Anonutopia group: <a href="https://t.me/Anonutopia">t.me/Anonutopia</a>.
                            </p><br>

                            <h5>3. Ask AnonsRobot for 1 Free ANOTE</h5>

                            <p>Copy your wallet address and then use it with our friendly robot to get your free ANOTE like shown below.
                            Of course, instead of our address (3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2), you should use yours.
                            </p>

                            <div class="well" style="margin-top: 20px;">/gimme@AnonsRobot 3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</div><br>

                            <h5>4. Share Your Referral Link</h5>

                            <p>Remember to share your referral link on social networks. When ever somebody new registers with your link, you 
                            get 20% (0.2 ANOTE). If they purchase ANOTE, you also get 20%. You can access your referral link by selecting 
                            "<a href="https://wallet.anonutopia.com/profit/">Profit</a>" page in your wallet's menu.
                            </p><br> -->
                            <p>Airdrop je besplatna distribucija malih iznosa nekakvih virtualnih valua i tokena zajednici članova ili u 
                            potpunosti besplatno, ili za provođenje jednostavnih zadataka. Ovako možete sudjelovati u Anota airdropu:
                            </p><br>

                            <h5>1. Registrirajte se na Kriptokuna novčanik</h5>

                            <p>Registrirajte novi novčanik <a href="https://novcanik.kriptokuna.com" target="_blank">ovdje</a>.
                            </p><br>

                            <h5>2. Uključite se u našu Telegram grupu - Anonutopia Hrvatska</h5>

                            <p>Ako nemate Telegram, možete ga pronaći <a href="https://telegram.org/apps" target="_blank">ovdje</a>.</p>
                            <p>Registrirajte se na Telegram aplikaciji i zatim priključite našoj grupi: <a href="https://t.me/AnonutopiaHrvatska">t.me/AnonutopiaHrvatska</a>.
                            </p><br>

                            <h5>3. Zatražite AnonsRobota 1 besplatnu anotu</h5>

                            <p>Kopirajte adresu svog novčanika i zatim ju predajte našem prijateljki nastrojenom chat robotu kako je prikazano 
                            na primjeru dolje. Naravno, umjesto naše adrese (3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2), trebate koristiti svoju.
                            </p>

                            <div class="well" style="margin-top: 20px;">/gimme@AnonsRobot 3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</div><br>

                            <h5>4. Podijelite svoje referal link</h5>

                            <p>Ne zaboravite podijeliti svoj referal link na socijalnim mrežama. Svaki puta kad se netko registira putem vašeg 
                            linka, vi ćete dobiti 20% (0.2 anote). Ukoliko ta osoba kupi anote, vi također dobivate 20%. Svom referral linku možete 
                            pristuiti na "<a href="https://novcanik.kriptokuna.com/profit/">Profit</a>" stranici u meniju vašeg novčanika.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Home</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/profit/">Making Profit</a>
                            <a href="https://wallet.anonutopia.com">Wallet</a>
                            <a href="/anote/">ANOTE</a>
                            <a href="/projects/">Projects</a>
                            <a href="/contact/">Contact</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
