        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Što je ANOTE?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">ANOTE</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <h3>O Anoti</h3>
                    <p>Anota (ANOTE) je stable coin (stabilna kripto valuta) i standardizirani i transparentni 
                    <a href="https://en.wikipedia.org/wiki/ERC20" target="_blank">ERC20 Ethereum token</a> namijenjen 
                    pružanju infrastrukture za izradu i održavanje kripto-fiat valuta tj. kripto ekvivalenata "pravih" 
                    valuta poput kune, eura, dolara i slično.</p>
                    <p>Osim toga, Anota je i investicijski token koji ima pretprogramirani rast vrijednosti i cijene 
                    koji svojim ulagačima osigurava zaradu samim širenjem.</p>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="https://n.kriptokuna.com/">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Manifest Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/volontiraj/">Volontiraj</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>