        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Često postavljana pitanja</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Česta pitanja</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <div class="faqRow">
                        <h4>Je li ovo sve po zakonu?</h4>
                        <p>Apsolutno, da! Bankomatsku mrežu koju ćemo izgraditi Blokirani će koristiti za novac kojim 
                        svakako raspolažu preko zaštićenog računa, samo ćemo im omogućiti normalno korištenje njihovog 
                        novca koje je treutno jako ograničeno (plaćanje računa putem Interneta, bankomate, Internet 
                        bankarstvo i slično). Osim toga, ICO (initial coin offering) je u potpunosti legalna i 
                        legitimna metoda crowdfundinga.</p>
                    </div>

                    <div class="faqRow">
                        <h4>Zašto ste anonimni?</h4>
                        <p>Pretpostavljamo da se bankama i kartičarskim kućama neće svidjeti kad shvate da smo pronašli 
                        način da novac sigurno prebacujemo putem Interneta bez njihove pomoći te da imamo plan koji će 
                        ih učiniti u potpunosti zastarjelima i (na žalost) "savršenu" situaciju s Blokiranima da to 
                        provedemo u djelo jer nam je četvrtina građana izvan bankarskog sustava.</p>
                    </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/#signup">Prijavi se</a>
                            <a href="/o-kriptokuni/">Što je Kriptokuna?</a>
                            <a href="/blokirani/">Manifest Blokiranima</a>
                            <a href="/pitanja/">Česta pitanja</a>
                            <a href="/volontiraj/">Volontiraj</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>