
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Odblokirajmo Blokirane</h1>
                            <!-- <p class="white-text" style="margin-bottom: 30px;">i usput prestanimo davati 25% svog novca američkoj firmi za jednostavnu aplikaciju 
                                koja ne radi ništa drugo osim što spaja one koji voze s onima koji se žele voziti jer tako nešto znamo organizirati i sami</p> -->
                            <p class="white-text" style="margin-bottom: 30px;">
                                koristeći moderne tehnologije dostupne svima i u istom potezu učinimo Republiku Hrvatsku transparentnom i organiziranom državom ugodnom 
                                za rad, život i posjećivanje, državom 21. stoljeća, državom kakvu zaslužujemo!
                            </p>
                            <a href="/plan/" class="white-btn">Pročitaj više</a>
                            <a href="/novcanik/" class="main-btn">Kako koristiti novčanik?</a>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->

    <!-- Service -->
    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Što ćemo uraditi?</h2>
                </div>
                <!-- /Section header -->

                <!-- service -->
                <div class="col-md-6 col-sm-6">
                    <h4 class="text-center" style="text-decoration: underline;">Core hacktivisti</h4>

                    <div class="service">
                        <i class="fa fa-pencil"></i>
                        <h3>Osnovni dizajn Kriptokune</h3>
                        <p>Uspostavljanje Kriptokune s unaprijed uprogramiranim elementom stabilizacije na "pravu" kunu.</p>
                    </div>

                    <div class="service">
                        <i class="fa fa-car"></i>
                        <h3>Izrada i pokretanje aplikacije za prijevoz</h3>
                        <p>Izrada prve verzije aplikacije za spajanje prijevoznika i putnika koja kao sredstvo plaćanja koristi Kriptokunu.</p>
                    </div>

                    <div class="service">
                        <i class="fa fa-unlock"></i>
                        <h3>Uspostava bankomatske mreže</h3>
                        <p>Uspostava bankomatske mreže za Blokirane i druge građane Republike Hrvatske te razvoj pripadne fiskalne blagajne.</p>
                    </div>
                </div>
                <!-- /service -->

                <!-- service -->
                <div class="col-md-6 col-sm-6">
                    <h4 class="text-center" style="text-decoration: underline;">Ostali hacktivisti</h4>

                    <div class="service">
                        <i class="fa fa-user-secret"></i>
                        <h3>Regrutacija svih kojima je ovo u interesu</h3>
                        <p>Lancem osobe do osobe raširiti ideju među Blokiranima i korisnicima aplikacija za prijevoz.</p>
                    </div>

                    <div class="service">
                        <i class="fa fa-line-chart"></i>
                        <h3>Prodaja Kriptokune</h3>
                        <p>Prodaja Kriptokune za skupljanje početnog kapitala za uspostavu bankomatske mreže i izradu aplikacija.</p>
                    </div>

                    <div class="service">
                        <i class="fa fa-refresh"></i>
                        <h3>Povratak profita korisnicima</h3>
                        <p>Budući da je Kriptokuna haktivistički pokret, a ne tvrtka, profit ćemo vraćati našim korisnicima.</p>
                    </div>
                </div>
                <!-- /service -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Service -->

    <!-- Testimonial -->
    <div id="referrals" class="section md-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('/img/background11.jpeg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">
                    <p class="col-md-8 col-md-push-2 text-center" style="margin: 0; color: #959AA2;">Ukoliko imaš nešto viška vremena i vještine za koje 
                    misliš da će dobro doći, prijavi se kao hacktivist volonter i <strong>priključi se Anonutopia timu</strong>.</p>
                    <div class="clearfix">&nbsp;</div><br>
                    <p style="margin: 0;" class="text-center"><button class="main-btn" onclick="window.location = '/volontiraj/';"><strong>Postani hacktivist volonter!</strong></button></p>
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Testimonial -->