        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Što je Kriptokuna?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">O Kriptokuni</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/kriptokuna_logo.png" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <h3>O Kriptokuni</h3>
                            <p>Kriptokuna je stable coin (stabilna kripto valuta) i standardizirani i transparentni 
                            <a href="https://en.wikipedia.org/wiki/ERC20" target="_blank">ERC20 Ethereum token</a> koji u 
                            početku služi za plaćanje aplikacije za spajanje prijevoznika i onih koji koriste takve usluge, a koji će zamijeniti 
                            postojeće takve aplikacije. Kriptokuna će nakon početnog perioda rasta i rasprodaje krenuti u proces stabilizacije 
                            te će u konačnici imati stabilan tečaj u odnosu na kunu.</p>

                            <p>Naša aplikacija za spajanje putnika i prijevoznika uzimat će naknadu od 5% (dok američka uzima 25%).</p>

                            <p>Ta naknada i novac koji skupimo crowdfundingom koristit će se za razvijanje Open Source bankomata koji ćemo 
                            širiti po Hrvatskoj te dati primarno Blokiranima (blokiranim građanima Republike Hrvatska) na korištenje za onaj
                            dio njihovih prihoda koji nisu u blokadi - plaćanje računa, Internet bankarstvo, a s vremenom i plaćanje u dućanima
                            putem naše fiskalne blagajne.</p>

                            <p>Bankomatska mreža također ima naknade, a te naknade su manje od onih bankarskih.</p>

                            <p>Ali...</p>

                            <p>Kriptokuna je zapravo <strong>haktivistički pokret</strong>, a ne tvrtka te profit svojih aplikacija i sustava ne uzima za osnivače 
                            nego ga vraća svojim korisnicima, a aplikacije u isto vrijeme objavljuje pod Open Source licencama.</p>

                            <p>Open Source bankomat je projekt koji sadrži nacrte, popis lako dostupnih i jefinih djelova koji su potrebni 
                            za izraditi ga te prateći Open Source software. Može se koristiti i kao obični Bitcoin bankomat koji zbog našeg 
                            softwarea koristi našu ugrađenu burzu valuta.</p>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="https://n.kriptokuna.com/">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Manifest Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/volontiraj/">Volontiraj</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
