        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kupi Anotu?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Kupovina</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                  <div class="well">
                      <p>Kriptokuna još uvijek nema upotrebne aplikacije pa se još ne prodaje, a Anotu možete kupiti slanjem Waves tokena 
                    i drugih kriptovaluta na adresu ispod. Detaljniji tutorial možete pronaći <a href="/novcanik/" target="_blank">ovdje</a>.</p><br>
                      <h5 class="text-center">Adresa za zamjenu</h5>
                      <p class="text-center" style="margin: 0;">3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</p><br>
                      <p class="text-center" style="margin: 0;"><strong>Trenutna cijena:</strong> 0.01 EUR<br>
                      <strong>Programirana cijena:</strong> 14.00 EUR</p>
                  </div>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/kupi/">Kupi</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>