        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako koristiti Kriptokuna novčanik?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Novčanik</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <p>U izradi</p>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="https://n.kriptokuna.com/">Novčanik</a>
                            <a href="/plan/">O nama</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;O Kriptokuni</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Manifest Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/volontiraj/">Volontiraj</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>