        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako koristiti Kriptokuna novčanik?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Novčanik</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <div class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">

                    <h3>Preporučeni software</h3>
                    <p>Android i iOS - <a href="https://trustwalletapp.com/" target="_blank"><strong>Trust</strong></a></p>
                    <p>Desktop - <a href="https://metamask.io/" target="_blank"><strong>MetaMask</strong></a></p><br>

                    <h3>Način korištenja</h3>
                    <p>Kriptokunski novčanik je web aplikacija koje se spaja izravno na Ethereum blockchain. Da bi to bilo moguće, 
                    potreban je dodatni software.</p>
                    <p>Ukoliko koristite računalo, najjednostavnije rješenje je instalacija <strong>MetaMask</strong> ekstenzije.
                    Nakon toga jednostavno otvorite URL novčanika i koristite ga normalno kao i bilo koju drugu web aplikaciju, a sva sredstva 
                    koja posjedujete borave u MetaMask novčaniku.</p>
                    <p>Preporučeno rješenje za pametne telefone je <strong>Trust</strong> aplikacija. I u ovoj je aplikaciji potrebno otvoriti 
                    web adresu kriptokunskog novčanika. Adresu bookmarkirajte za lakše buduće korištenje klikom na pripadnu opciju u meniju 
                    gore-desno.</p>
                    <p>URL novčanika: <a href="https://n.kriptokuna.com/" target="_blank">n.kriptokuna.com</a></p><br>

                    <h3>Kako mogu kupiti Kriptokunu?</h3>
                    <p>Kriptokunu u ovom trenutku još uvijek nije moguće kupiti niti to ima pretjeranog smisla budući da još uvijek nisu 
                    objavljene aplikacije koje će ju koristiti, a ona je stabilni token pa nije pogodna za ulaganje. Kada to bude potrebno, Kriptokunu 
                    će biti moguće prodati i kupiti putem mjenjačnice integrirane u novčanik.</p><br>

                    <h3>Kako mogu kupiti ANOTE?</h3>
                    <p>ANOTE je token koji pruža infrastrukturu za Interenet bankarstvo, a ima pretprogramirani rast tako da je ujedno i investicijski 
                    token u koji se isplati uložiti već sada. Za kupnju ANT-a je potrebno imati Ethere (ETH) u kriptokunskom novčaniku, a zamjena se 
                    obavlja vrlo jednostavno putem mjenjačnice integrirane u naš novčanik. Više o ANOTE-u (Anoti) možete pročitati <a href="/anote/">ovdje</a>.</p>

                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="https://n.kriptokuna.com/">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Manifest Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">Transparentnost</a>
                            <a href="/volontiraj/">Volontiraj</a>
                        </div>
                    </div>
                    <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>