        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Koje proizvode razvijamo?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Naši proizvodi</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p>Anonutopia radi na čitavom nizu Open Source projekata i aplikacija kako za izgradnju vlastite
                            infrastrukture tako za prikupljanje sredstava za daljnji razvoj i socijalne usluge poput univerzalnog 
                            osnovnog dohotka.                            
                            </p>
                            
                            <p>Ovo su neki od njih:</p><br>

                            <h3>Anota</h3>

                            <p>Naš je osnovni proizvod naša valuta - Anota. To je decentralizirana stabilna kriptovaluta
                            programirana koristeći teoriju igara, pametne ugovore i LPoS (Leased Proof of Stake) oracle sustav 
                            - AnonOracles. Anota je također investicijski i bankarski token. Više o Anoti vidi 
                            <a href="/anote/">ovdje</a>.
                            </p><br>

                            <h3>Kripto ekvivalenti fiat valuta</h3>

                            <p>To su naše centralizirane stabilne kriptovalute vezane 1:1 prema fiat valutama - Kriptokuna, Kriptodinar
                            Kriptoeuro itd. Te valute imaju uporabnu svrhu u našim aplikacijama i kao tehničko sredstvo plaćanja. 
                            </p><br>

                            <h3>AnonTaxi</h3>

                            <p>Anonutopijina aplikacija za dijeljenje prijevoza, rent-a-car i taksi usluge.
                            </p>

                            <p><a href="https://github.com/anonutopia/anontaxi" target="_blank">GitHub</a></p><br>

                            <h3>AnonATM</h3>

                            <p> Jeftin i pristupačan Open Source bankomat kripto valuta. Trenutno je u razvoju.    
                            </p><br>

                            <h3>AnonWallet</h3>

                            <p>Anonutopia novčanik, temeljen na Waves novčaniku. Zasad je samo u web formi, 
                            a Android i iOS aplikacije su u izradi. 
                            </p>

                            <p><a href="https://github.com/anonutopia/anonwallet" target="_blank">GitHub</a></p><br>

                            <h3>AnonExchange</h3>

                            <p>Naša mjenjačnica kripto i fiat valuta pozadinski vezana za Waves DEX. U izradi. 
                            </p><br>

                            <h3>AnonOracle</h3>

                            <p>Kao temelj našeg bankarskog sustava, AnonOraclei koriste LPoS (Leased Proof of Stake) principe
                            za unošenje korisnih izvanjskih podataka u našu mrežu, čuvaju fond u multi-signature novčanicima itd. 
                            </p>

                            <p><a href="https://github.com/anonutopia/anonoracle" target="_blank">GitHub</a></p><br>

                            <h3>GoWaves</h3>

                            <p>Golang library za Waves platformu ..
                            </p>

                            <p><a href="https://github.com/anonutopia/gowaves" target="_blank">GitHub</a></p><br>

                            <h3>WavesCLI</h3>

                            <p>Command Line Interface za Waves platformu.
                            </p>
                            
                            <p><a href="https://github.com/anonutopia/waves-cli" target="_blank">GitHub</a></p><br>

                            <h3>AnonPortal</h3>

                            <p>CMS (Content Management System) za našu mrežu web stranica, koristan za manje internetske portale.
                            </p>

                            <p><a href="https://github.com/anonutopia/anonportal" target="_blank">GitHub</a></p><br>

                            <h3>AnonNet</h3>

                            <p>Anonutopijina Ethereum mreža i blockchain. Trenutno je privatna, no ubrzo će biti javna.
                            </p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                     <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/airdrop/">Zarađivanje</a>
                            <a href="https://novcanik.kriptokuna.com">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/projekti/">&dash;&dash;&nbsp;&nbsp;Naši projekti</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je ANOTE?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">&dash;&dash;&nbsp;&nbsp;Transparentnost</a>
                            <a href="/kontakt/">Kontakt</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                     <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
<!-- /Blog -->
