        <!-- header wrapper -->
        <div class="header-wrapper sm-padding bg-dark">
            <div class="container">
                <h2>Kako zarađivati u Anonutopiji?</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Naslovnica</a></li>
                    <li class="breadcrumb-item active">Zaradi</li>
                </ul>
            </div>
        </div>
        <!-- /header wrapper -->

    </header>
    <!-- /Header -->

    <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="/img/anonutopia_logo.png?v=1.0.1" alt=""><br>
                        </div>
                        <div class="blog-content">
                            <p> Svaka se osoba može uključiti u sustav univerzalnog dohodka ako postane građanin Anonutopije. No 
                            postoje brojni drugi načini na koje se može zarađivati u Anonutopiji pružanjem različitih usluga. Za 
                            početak je moguće investirati i čuvati Anotu što samo po sebi donosi "holding" zaradu, moguće je 
                            dati nam u zakup Waves tokene kojima održavamo i osiguravamo Waves mrežu itd. Donosimo popis trenutno 
                            dostupnih načina na koje se može zarađivati, a koji će se kontinuirano povećavati.
                            </p><br>

                            <h3>Anote Holder</h3>

                            <p>Kupnjom i čuvanjem ("holdanje") Anote vi stvarate novu vrijednost u našem sustavu, za što budete 
                            nagrađeni. Svaki put kada netko kupi nove Anota tokene, vi dobivate određen dio razmjerno količini Anota 
                            tokena koju čuvate. Ta se naknada isplaćuje u istoj kriptovaluti u kojoj se nova kupnja provela (Waves, 
                            Bitcoin, Ether ili jedan od kripto-fiata). Ovu zaradu možete povući u vaš novčanik ili kupiti nove Anote.                           
                            </p><br>

                            <h3>Anote Referral</h3>

                            <p>Svaki put kada nekome preporučite neku od naših stranica ili novčanika koristeći vašu adresu novčanika
                            (tako što na link dodate ?r=VašaAdresa) taj se podatak sačuva. U slučaju da osoba kojoj ste preporučili ikada
                            kupi Anote, vi ćete dobiti referral proviziju od 20% u valuti u kojoj je kupnja provedena. Također možete 
                            povući zaradu u novčanik ili kupiti Anote za "holding" zaradu. No ne morate biti "holder" Anota da biste 
                            mogli raditi referral. 
                            </p><br>

                            <h3>Anonutopia Bankster</h3>

                            <p>Banksteri rade kao osobni bankari "bankarskog sustava" Anonutopije. Oni barataju gotovinom i/ili Internet 
                            bankarstvom u svrhu kupnje i prodaje kriptovaluta te zarađuju na provizijama. Banksteri su naši mikro-izlazi 
                            prema klasičnom bankarskom sustavu te most između običnih korisnika i naših naprednih tehnologija.
                            </p><br>

                            <h3>AnonOracle</h3>

                            <p>AnonOracles su sami temelji našeg sustava, jer uz Waves i Ethereum platforme nose čitavu tehničku infrastrukturu 
                            Anonutopije. To su server daemoni koji moraju imati ulog od 1,000,000 Anota, a zarađuju jednostavno pružajući 
                            izvanjske podatke našem blockchainu. Cilj nam je u konačnici da AnonOracles čuvaju čitav naš fond u multi-signature 
                            novčanicima.    
                            </p><br>

                            <h3>AnonGateway</h3>

                            <p>Gatewayi su u osnovi veliki Banksteri koji pokreću AnonOracle node. Oni su glavni i veliki izlazi prema
                            tradicionalnim bankarskim sustavima, i naše su glavne financijske institucije, a takvima bi trebale biti 
                            prepoznate i u pravnim sustavima pojedinih zemalja.  
                            </p><br>

                            <h3>Waves Holder</h3>

                            <p>Waves holderi nam pomažu osigurati Waves mrežu koja je naša osnovna infrastruktura za tokene. Oni daju u zakup 
                            svoje Waves tokene našim Waves nodeovima ("staking") i zauzvrat dobivaju nagrade i provizije razmjerno udjelu svog 
                            uloga. Možete se uključiti u staking slanjem na sljedeću adresu:
                            </p>

                            <p><strong>3PDb1ULFjazuzPeWkF2vqd1nomKh4ctq9y2</strong></p><br>
                        </div>
                    </div>
                </main>
                <!-- /Main -->


                <!-- Aside -->
                <aside id="aside" class="col-md-3 hidden-sm-down">

                     <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <div class="widget-category">
                            <a href="/">Naslovnica</a>
                            <a href="/airdrop/">Airdrop</a>
                            <a href="/airdrop/">Zarađivanje</a>
                            <a href="https://novcanik.kriptokuna.com">Novčanik</a>
                            <a href="/plan/">O nama i našem planu</a>
                            <a href="/projekti/">&dash;&dash;&nbsp;&nbsp;Naši projekti</a>
                            <a href="/o-kriptokuni/">&dash;&dash;&nbsp;&nbsp;Što je Kriptokuna?</a>
                            <a href="/anote/">&dash;&dash;&nbsp;&nbsp;Što je Anote?</a>
                            <a href="/blokirani/">&dash;&dash;&nbsp;&nbsp;Poruka Blokiranima</a>
                            <a href="/pitanja/">&dash;&dash;&nbsp;&nbsp;Česta pitanja</a>
                            <a href="/transparentnost/">&dash;&dash;&nbsp;&nbsp;Transparentnost</a>
                            <a href="/kontakt/">Kontakt</a>
                            <a href="/pridruzi-se/">Pridruži se</a>
                        </div>
                    </div>
                     <!-- /Category -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
<!-- /Blog -->
